main{
	}
main img{
	width: 100%;
	}
#pagetitle{
	clear: both;
	}
#content{
	}
#projectsnav{
	display: inline;
	float: left;
	width: 34%;
	border: solid 2px;
	padding-left: 5px;
	}
#current{
	}
#previous{
	}
#project{
	display: inline;
	float: left;
	text-align: center;
	width: 64%;
	}
#currentprojects{
	text-align: center;
	width: 100%;
	clear: both;
	}
#completeprojects{
	text-align: center;
	width: 100%;
	clear: both;
	}
#section{
	clear: both;
	}
#projectimage{
	display: inline;
	float: left;
	width: 33.3%;
	}
#projectimage img{
	width: 98%;
h2{
	text-align:left;
	font-family: Montserrat; 
	font-size: 1.5em;
	text-decoration: underline;
	}
	
